{% extends 'layout.html' %}

{% block content %}

<div class="row center">
 <a href="view_records">   <button type="submit" class="btn-large waves-effect waves-light orange" href="">View Records</button> </a>
</div>
<br>
<div class="row center">
    <a href="add_records">   <button type="submit" class="btn-large waves-effect waves-light orange" href="">Add Records</button> </a>
</div>
<br>
<div class="row center">
    <a href="make_predictions">   <button type="submit" class="btn-large waves-effect waves-light orange" href="">Make Predictions</button> </a>
</div>
<br>
{% endblock content %}  